

<main>
    <div class="container">
        <p>
            Choose your month:
        </p>
        <nav>
            <a href="" data-number="1">Jan</a>
            <a href="" data-number="2">Feb</a>
            <a href="" data-number="3">Mar</a>
            <a href="" data-number="4">Apr</a>
            <a href="" data-number="5">May</a>
            <a href="" data-number="6">Jun</a>
            <a href="" data-number="7">Jul</a>
            <a href="" data-number="8">Aug</a>
            <a href="" data-number="9">Sep</a>
            <a href="" data-number="10">Oct</a>
            <a href="" data-number="11">Nov</a>
            <a href="" data-number="12">Dec</a>
        </nav>
        <section id="appointmentData">

            <div id="appointmentDataDetail">  

            </div>
        </section>
    </div>
</main>
